{% extends 'blog/base.html' %}
{%block content%}
    <h2>You have been logout</h2>
    <div class="border-top pt-3">
        <small class="text-muted"></small>
        <a href="{%url 'login'%}">Log in again</a> 
    </div>
   
{% endblock content%}

